extends layout

block content

  div(class="row")
    div(class="col-sm-12")
      if currentVote 
        if currentVote.value === 1
          h1(class="glyphicon glyphicon-arrow-up upvote") #{song.name}
        if currentVote.value === -1
          h1(class="glyphicon glyphicon-arrow-down downvote") #{song.name}
      if (!currentVote)
        h1 #{song.name}
  div(class="row")
    p(class="col-sm-12") By #{song.artist}

    

 

  
  ul
    each vote in song.votes
      div(class="row")
        if vote.value === 1
          li(class="glyphicon glyphicon-arrow-up upvote col-sm-6") #{vote.displayName}
        if vote.value === -1
          li(class="glyphicon glyphicon-arrow-down downvote col-sm-6") #{vote.displayName}

  
  div(class="row")
    div(class="col-sm-2")
      form(method='POST' action='/songs/song/' + song._id + '/upvote')
        div.form-group
          input#songid.form-control(type='hidden',name='songid', required='true', value=song._id ) 
          button.btn.btn-primary(type='submit', class="glyphicon glyphicon-arrow-up upvote-button")  Upvote
    div(class="col-sm-2")
      form(method='POST' action='/songs/song/' + song._id + '/downvote')
        div.form-group    
          input#songid.form-control(type='hidden',name='songid', required='true', value=song._id )
          button.btn.btn-primary(type='submit', , class="glyphicon glyphicon-arrow-down downvote-button")  Downvote

  hr 
  a(href!=song.link) Listen to the song 
  hr
  p
    a(href=song.url+'/delete') Delete song